
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Oo]bj/
[Ll]og/

*.nupkg
.nuget/
packages/

.idea/
*.sln.iml

.DS_Store
Thumbs.db

/obj/

*.tmp
*.temp


[Dd]ebug/**/*
![Dd]ebug/net9.0-windows/ffmpeg.exe
![Dd]ebug/net9.0-windows/ffprobe.exe
![Dd]ebug/net9.0-windows/README.md

[Rr]elease/**/*
![Rr]elease/net9.0-windows/ffmpeg.exe
![Rr]elease/net9.0-windows/ffprobe.exe
![Rr]elease/net9.0-windows/README.md